node_modules/
.expo/
npm-debug.*
package-lock.json
report
coverage
*.swp
react-native-packager-cache-8324ab21a3f05848fbaec8ba15d56a326c9ba5f6/
haste-map-react-native-packager-1-3ee05e2fd5119494ef7365009e3d4a69
.env
